
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>修改密码</h2>
                    
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
 
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>在这里可以修改您的系统登录密码</h5>
                            
                        </div>
                        <div class="ibox-content">
                            <form id="postForm" method="post" class="form-horizontal" action="sys/saveUserPwd">

                                <div class="form-group"><label class="col-sm-2 control-label">原密码</label>

                                    <div class="col-sm-4"><input type="password" class="form-control" name="oldPassWord"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">密  码</label>

                                    <div class="col-sm-4"><input type="password" class="form-control" name="passWord"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">确认密码</label>

                                    <div class="col-sm-4"><input type="password" class="form-control" name="rePassWord"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button onclick="submitForm();" title='修改密码' class="btn btn-primary" type="button">修改密码</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<script type="text/javascript">

    $(document).ready(function () {
    	
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        
        $("#postForm").bind("submit", function() { submitForm(); return false; });
        $("#postForm input").on("keydown", function(event) { if(event.keyCode==13){submitForm();} });
        
        //表单验证
        $("#postForm").validate({
            rules: {
            	oldPassWord: {
                    required: true,
                    minlength: 6
                },
                passWord: {
                    required: true,
                    minlength: 6
                },
                rePassWord: {
                    required: true,
                    minlength: 6
                }
            }
        });
        
    });
        
    
    function submitForm(){
    	if($("#postForm").valid()==false){
    		return;
    	}
    	var postData = $("#postForm").serializeArray();
		$.post($("#postForm").attr("action"), postData, function (json) {
            //var data = $.parseJSON(json);
            if (json.resultStatus) {
                //成功
                layer.msg('修改成功.', {icon: 1});
            } else {
            	//
            	layer.alert("失败了："+ json.resultMsg, {icon: 2});
            }
        }, "json");
    	
    }
</script>


