
<link href="${ctxPath}/static/base/css/plugins/jsTree/style.min.css" rel="stylesheet">
<script src="${ctxPath}/static/base/js/plugins/jsTree/jstree.min.js"></script>

                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        
                        <div class="ibox-content">
                            <form id="postForm" method="post" class="form-horizontal" action="sys/saveRoleResource">
                                
                                <div class="form-group"><label class="col-sm-3 control-label" >角色名称</label>
                                    <div class="col-sm-8">${role.roleName}</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group"><label class="col-sm-3 control-label" >授权资源</label>
                                    <div class="col-sm-8">
                                    <div id="menuTree"></div>
									</div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <input type="hidden"  name="roleId" value="${role.id}" />
                                <input type="hidden" id="menuIds" name="menuIds" value="${menuIds}" />
                                
                            </form>
                        </div>
                    </div>
                </div>

    
        <script type="text/javascript">
        
            $(document).ready(function () {
            	
            	$('#menuTree').jstree({
            		'core' : {
            			'data' : {
            				"url" : "sys/roleMenuTreeJson",
            				"dataType" : "json"
            			}
            		},
            		"checkbox" : {
            		      "keep_selected_style" : false
					},
            		"plugins" : [ "checkbox" ]
            	});
            	
            	$('#menuTree').bind('loaded.jstree', function(event, data){
            		initTreeChecked();
            	});
            	
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });                
                
                
            });
                
            $("#postForm").bind("submit", function() { submitForm(); return false; });
            $("#postForm input").on("keydown", function(event) { if(event.keyCode==13){submitForm();} });
            
            function submitForm(){
            	var menuIds = getTreeChecked();
            	$("#menuIds").val(menuIds);
            	var postData = $("#postForm").serializeArray();            	
            	
    			$.post($("#postForm").attr("action"), postData, function (json) {
                    //var data = $.parseJSON(json);
                    if (json.resultStatus) {
                        //成功
                        closeAllPopWin();
                    } else {
                    	//
                    	layer.alert("失败了："+ json.resultMsg, {icon: 2});
                    }
                }, "json");
            	
            }
            
    	    function initTreeChecked(){
    	    	var menuIds = $("#menuIds").val();
    	    	var ids = menuIds.split(",");
    	    	//alert(menuIds);
    	    	for(var i=0; i<ids.length; i++){
                    var id = ids[i];
                  	//select_node
        	    	//check_node
        	    	$("#menuTree").jstree("check_node",id);
                }
    	    	
    	    	
    	    }
    	    
    	    function getTreeChecked(){
    	    	//
    	    	var menuIds = $("#menuTree").jstree("get_checked");
                return menuIds;
    	    }
    	    
        </script>
        