<% layout("/share/mlayout.html"){%>

<div class="wrapper wrapper-content  animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">系统信息</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">水印设置</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">缓存操作</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                <!-- Tab开始 -->
									<div class="col-sm-12">
									    <div class="ibox float-e-margins">
									        
									        <div class="ibox-content">
                            					<form method="post" class="form-horizontal" action="#">
					                                <div class="form-group"><label class="col-sm-3 control-label" >操作系统</label>					
					                                    <div class="col-sm-8">
					                                    ${sysProps["os.name"]} - ${sysProps["os.version"]}
					                                    </div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
									                
					                                <div class="form-group"><label class="col-sm-3 control-label" >JAVA运行环境</label>					
					                                    <div class="col-sm-8">
															${sysProps['java.runtime.name']} ${sysProps['java.runtime.version']}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >JAVA虚拟机</label>					
					                                    <div class="col-sm-8">
															${sysProps['java.vm.name']} ${sysProps['java.vm.version']}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >系统用户</label>					
					                                    <div class="col-sm-8">
															${sysProps['user.name']}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >用户主目录</label>					
					                                    <div class="col-sm-8">
															${sysProps['user.home']}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >用户工作目录</label>					
					                                    <div class="col-sm-8">
															${sysProps['user.dir']}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >用户临时目录</label>					
					                                    <div class="col-sm-8">
															${sysProps['java.io.tmpdir']}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >CPU数量</label>					
					                                    <div class="col-sm-8">
															${cpuCount}
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >内存使用</label>					
					                                    <div class="col-sm-8">
															内存总量：<span style="color: #23c6c8;">${totalMemory/1024/1024,numberFormat="##.##"}</span> Mb
															最大内存：<span style="color: red;">${maxMemory/1024/1024,numberFormat="##.##"}</span> Mb
															空闲内存：<span style="color: green;">${freeMemory/1024/1024,numberFormat="##.##"}</span> Mb
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                
												</form>
									        </div>
									    </div>
									</div>

                                   <!-- Tab结束 -->
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                   <!-- Tab开始 -->
									<div class="col-sm-12">
									    <div class="ibox float-e-margins">
									        
									        <div class="ibox-content">
									            <form id="tabForm-2" method="post" class="form-horizontal" action="sys/sysSettingsSave">
																	                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >水印透明度</label>
					
					                                    <div class="col-sm-5"><input type="text" class="form-control" placeholder="透明度" name="transparent" value="${settings.transparent}"></div>%
					                                </div>
					                                <div class="hr-line-dashed"></div>
									                
					                                <div class="form-group"><label class="col-sm-3 control-label" >水印图片</label>					
					                                    <div class="col-sm-8">
															<#SimpleFileUploadTag defaultValue="${settings.watermark}" width="100" height="100" id="watermark" isImg="false" placeholder="" isHiddenUrl="false" isPreview="true"/>
														</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
					                                
					                                <div class="form-group"><label class="col-sm-3 control-label" >水印位置</label>					
					                                    <div class="col-sm-8">
														<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
														<tbody>
															<tr>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="1" ${settings.position==1?"checked":""}>左上</label></td>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="2" ${settings.position==2?"checked":""}>中上</label></td>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="3" ${settings.position==3?"checked":""}>右上</label></td>
															</tr>
															<tr>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="4" ${settings.position==4?"checked":""}>左中</label></td>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="5" ${settings.position==5?"checked":""}>中心</label></td>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="6" ${settings.position==6?"checked":""}>右中</label></td>
															</tr>
															<tr>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="7" ${settings.position==7?"checked":""}>左下</label></td>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="8" ${settings.position==8?"checked":""}>中下</label></td>
																<td style="padding:5px;border:1px solid #999;"><label><input type="radio" name="position" value="9" ${settings.position==9?"checked":""}>右下</label></td>
															</tr>
														</tbody>
														</table>
													</div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
									                
									                <div class="form-group">
									                    <div class="col-sm-4 col-sm-offset-4">
									                        <button onclick="submitForm();" title='提交保存' class="btn btn-primary" type="button">提交保存</button>
									                        									                        
									                    </div>
									                </div>
									            </form>
									        </div>
									    </div>
									</div>
                                   <!-- Tab结束 -->
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                <!-- Tab开始 -->
									<div class="col-sm-12">
									    <div class="ibox float-e-margins">
									        
									        <div class="ibox-content">
                            					<form method="post" class="form-horizontal" action="#">
					                                <div class="form-group"><label class="col-sm-3 control-label" >缓存Key</label>					
					                                    <div class="col-sm-8">
					                                    <input type="text" class="form-control" id="cacheKey" name="cacheKey">
					                                    </div>
					                                </div>
					                                <div class="hr-line-dashed"></div>
									                
									                <div class="form-group">
									                    <div class="col-sm-4 col-sm-offset-4">
									                        <button onclick="getCache();" title='查看缓存' class="btn btn-primary" type="button">查看缓存</button>
									                        <button onclick="delCache();" title='删除缓存' class="btn btn-primary" type="button">删除缓存</button>
									                        <button onclick="cleanCache();" title='查看缓存' class="btn btn-primary" type="button">清空所有缓存</button>
									                    </div>
									                </div>
									                <div class="form-group">
									                	<div class="output row">
									                    	<div class="output-container">
									                    		<div class="output-value row">
									                    			<label class="col-sm-3 control-label">查询结果：</label>
									                    			
									                    			<div class="col-sm-8 f-mt8 result">
									                    			</div>
									                    		</div>
									                    	</div>
									                    </div>
									                </div>
									                
									                
												</form>
									        </div>
									    </div>
									</div>

                                   <!-- Tab结束 -->
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

</div>
                            
		<script type="text/javascript">
			$(document).ready(function() {
				
				$("#tabForm-2").bind("submit", function() { submitForm(); return false; });
                $("#tabForm-2 input").on("keydown", function(event) { if(event.keyCode==13){submitForm();} });
                
                //表单验证
                $("#tabForm-2").validate({
                    rules: {
                    	transparent: {
                            required: true,
                            minlength: 1
                        }
                    }
                });
                
			});

            function submitForm(){
            	if($("#tabForm-2").valid()==false){
            		return;
            	}
            	var postData = $("#tabForm-2").serializeArray();
    			$.post($("#tabForm-2").attr("action"), postData, function (json) {
                    //var data = $.parseJSON(json);
                    if (json.resultStatus) {
                        //成功
                       //closeAllPopWin();
                    	layer.alert("保存成功");
                    } else {
                    	//
                    	layer.alert("失败了："+ json.resultMsg, {icon: 2});
                    }
                }, "json");
            	
            }
      
			function getCache() {
				var cacheKey = $("#cacheKey").val();
				$.post("sys/getCache", {
					cacheKey : cacheKey
				}, function(json) {
					if (json.resultStatus == true) {//成功
						//layer.msg('缓存数据：'+json.resultMsg);
						var str = "<div class='result-container'>" + formatJson(json.resultMsg) + "</div>";
						$(".output-value .result").html(str);
					} else {//失败
						layer.alert("查询失败."+json.resultMsg, {icon: 2});
					}
				}, 'json');
			}
			
			function delCache() {
				var cacheKey = $("#cacheKey").val();
				layer.confirm('确定删除缓存Key '+ cacheKey +' 吗?', {
					btn : [ '删除', '取消' ]
				//按钮
				}, function() {
					$.post("sys/delCache", {
						cacheKey : cacheKey
					}, function(json) {
						if (json.resultStatus == true) {//成功
							layer.msg('删除成功.');
						} else {//失败
							layer.alert("删除失败."+json.resultMsg, {icon: 2});
						}
					}, 'json');
				});
			}
            
			function cleanCache() {
				layer.confirm('确定清空所有缓存吗?', {
					btn : [ '删除', '取消' ]
				//按钮
				}, function() {
					$.post("sys/cleanCache", function(json) {
						if (json.resultStatus == true) {//成功
							layer.msg('清除成功.');
						} else {//失败
							layer.alert("清除失败."+ json.resultMsg, {icon: 2});
						}
					}, 'json');
				});
			}
			
			function isArray(o) {
			    return Object.prototype.toString.call(o) === '[object Array]';
			}
			
			function formatJson(json){
				if(typeof Object.keys == 'function'){
					
					if(typeof json == 'string'){
						try{
							json = JSON.parse(json);
						}catch(err){
							return json;
						}
					}
					
					var keys = Object.keys(json),
						str = '<div class="line">{</div>';
						str += '<div class="tab">'
						
					for(var i = 0; i < keys.length; i++){
						str += "<div class ='line'><span class='key'>"+ keys[i] +":</span>";
						if(typeof json[keys[i]] == 'object' && json[keys[i]] != null ){
							if(isArray(json[keys[i]])){
								var arr = json[keys[i]];
								str += "<span class='value sep'>[</span><br/></div><div class='tab'>";
								for(var j = 0; j < arr.length; j++){
									str += formatJson(arr[j]);
								}
								str += "</div>]"+ (i==keys.length-1 ? "" : "<b>&sbquo;</b>");
							}else{
								str += formatJson(json[keys[i]]);
							}
							
						}else{
							var type = typeof json[keys[i]];
							str += "<span class='value "+type+"'>"+ json[keys[i]] + (i==keys.length-1 ? "" : "<b>&sbquo;</b>") + "</span></div>";
						}
					}
					str += '</div>';
					str += '<div class="line">}</div>';
					return str;
				}else{
					return json;
				}
			}
			
			
		</script>
	
<%}%>
