<% layout("/share/mlayout.html"){%>

<div class="wrapper wrapper-content  animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>会员积分列表</h5>
				</div>
				<div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-2 m-b-xs">
                        <select class="input-sm form-control input-s-sm inline" id="columnFiled" name="columnFiled">
                            <option value="userName">用户名</option>
                        </select>
                        
                        </div>
                        <div class="col-sm-2">
                        <div class="input-group">
                        <input type="text" id="keyWord" name="keyWord" placeholder="关键字" class="input-sm form-control" onkeydown="javascript:if(event.keyCode==13){queryGrid();}"> 
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" title='搜索' onclick="queryGrid();"> 搜索</button> 
                        </span>
                        </div>
                        </div>
                        <div class="col-sm-5">
                        
                        </div>
                        <div class="col-sm-3 text-right">
                                                                
                        </div>
                    </div>

					<div class="jqGrid_wrapper">
						<table id="table_list"></table>
						<div id="pager_list"></div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>
                            
		<script type="text/javascript">
			$(document).ready(function() {

				$("#table_list").jqGrid({
					url : "sys/sysUCoinListJson",
					datatype : "json",
					mtype : "POST",
					height : 450,
					autowidth : true,
					shrinkToFit : true,
					rowNum : 10,
					rowList : [ 10, 20, 30 ],
					colModel : [ {
						label : "ID",
						classes : 'mshow',
						name : 'userId',
						index : 'userId',
						width : 60,
						align : "center",
						sorttype : "int"
					}, {
						label : "用户名",
						classes : 'mshow',
						name : 'userName',
						index : 'userName',
						width : 90,
						align : "center"
					}, {
						label : "历史获得积分数",
						name : 'historyTotal',
						index : 'historyTotal',
						width : 40,
						align : "center"
					},{
						label : "当前剩余积分",
						classes : 'mshow',
						name : 'availableTotal',
						index : 'availableTotal',
						width : 80,
						align : "center"
					},],
					pager : "#pager_list",
					viewrecords : true,
					sortname : 'userId',
					sortorder : "desc",
					caption : "会员积分列表",
					loadtext : '正在加载...',
					hidegrid : false
				});

				//浏览器窗口变化时，自动宽度
	            $(window).bind('resize', function () {
	                var width = $('.jqGrid_wrapper').width();
	                $('#table_list').setGridWidth(width);
	            });
			
			
			});


			function reloadGrid() {

				$("#table_list").trigger('reloadGrid');
			}
			
		  	function queryGrid(){
		  		var grid = $("#table_list");
		  		var columnFiled = $("#columnFiled").val();
	            var keyWord = $("#keyWord").val();
				
	          //增加提交参数
	            var postData = { columnFiled : columnFiled, keyWord : keyWord};
	            $("#table_list").jqGrid("setGridParam", { postData: postData});

				//刷新grid
		  		grid.trigger('reloadGrid');
		  		
		  		
		  	}
		</script>
	
<%}%>
