html{color:#000;-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);font-family: "microsoft yahei";}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,img,textarea{margin:0;padding:0;}
html,body{height:100%;}
body{ margin: 0;    font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif; font-size: 14px; line-height: 20px; color: #555555; background-color: white;}
input, textarea, select, radio, checkbox { border: none; outline: 0; resize: none; vertical-align: middle; }
ol, ul, li { list-style: none; }
img { border: none;width: 100%;height: 100%;}
a {text-decoration: none;color: #3c3c3c;}
p{font-family: "microsoft yahei";color: #3c3c3c;} 
span,strong,div,input,table{font-family: "microsoft yahei";}
.fl { float: left;}
.fr { float: right;}
.czjz{position: relative;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);} 
.clearfix:before,
.clearfix:after{content: " ";display: table}
.clearfix:after{clear: both}

/*variables*/
//color
$red1 : #e74c3c;
$green: #49BE38;
$green1:#d94641;
$sidebarbg:#68bb23;
//width
$iphone4:320px;
$iphone6:375px;
$iphone6s:414px;
$mobile:768px;
$pc_xs:1024px;
$pc_sm:1281px;
$pc_md:1441px;
$pc_lg:1600px;
.iconfont_project{
	font-family:"iconfont" !important;
    font-size:77px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.btn-success {
    color: white;
    border-color: #49be38;
    background: #49be38;
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*nav-side*/


.row-fluid{ width:100%;
	.btn-success{color:white;border-color:#49be38;background:#49be38;}
	.span3{ width:25.0%;}
	.left-aside{position:fixed;top:0;right:0;bottom:0;left:170px;
		.cover-img{position:absolute;top:0;left:0;width:100%;height:100%;background-position:center;background-size:cover;}
		.bottom-block{position:absolute;bottom:0;padding:30px;color:white;
			h1{font-size:38.5px;}
			h3{font-size:24.5px;}
			.btn-large{padding:11px 19px;}
			.btn-success{padding-left:34px;background-position:-104px -20px;background-image:url(../img/xinjianzhuanti.png);background-repeat:no-repeat;background-size:250px;margin-top:10px;font-size:16px;}
			a{color:white;}
		}
	}
	.span7{width: 58.33333%;padding-left:43px;}
	.offset{margin-left:25%;
		.page-title{padding-left:20px;border-bottom:2px solid #d9d9d9;font-size:12px;
			.btn-success{margin:10px 0 0 10px;border-radius:30px;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;font-size:12px;font-weight:normal;line-height:1.5;}
			.pull-right{float:right;}
			.navigation{margin:0;border-bottom:none;list-style:none;text-align:center;}
			li{float:left;
				a{cursor:pointer;}
			}
			li.active{border-bottom: 2px solid $green1;margin-bottom: -2px;
                h2{
                    a{color: $green1;}
                }
            }
			ul a{padding:15px;display:inline-block;color:#999999;}
			.search{margin-bottom:0px;float:right;margin-top:10px;    float: right; border: 1px solid #ccc; padding: 0; height: 27px; margin-top: 10px; border-radius: 13px; width: 190px;position: relative;
			    input.search-query{height: 26px; line-height: 26px;color: #666;font-size: 13px;padding:0;margin:0;border:none;outline:none;margin-left: 10px;width:170px;}
			    a{position: absolute;right: 5px;top: 4px;padding:0;} 
			}
		}
		.subscribe-guide{position:relative;max-width:800px;padding:30px 30px 0;margin-top:85px;margin-left:25px;background:#f8f8f8;border:2px dashed #d9d9d9;box-sizeing:border-box;border-radius:16px;
			.guide-title{position:absolute;top:-70px;left:0;color:#999999;font-size:20px;font-weight:normal;line-height:30px;}
			.sort-nav{padding:0;margin-top:0;margin-bottom:30px;margin-right:-30px;}
		}
		.big_window.active{display:block;}
		.tab-pane .active{display:block;}
		.big_window{display:none;}
		.project{display: none;}
	}
	.collections{
		.span{min-height:700px;min-width:900px;margin-bottom:10px;}
		.sort-nav{padding:13px 0 0 20px;margin-bottom:0;}
    	.sort-nav{padding-left:35px;
    		li{float:left;margin:10px 15px 5px 0;
    			a{padding:5px 10px;border:1px solid #d9d9d9;border-radius:14px;box-sizing:border-box;font-size:12px;font-weight:normal;line-height:1.5;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;cursor:pointer;}
    			
    		}
    		li.active a{color:white;border-color:#e78170;background:#e78170;}
    	}
    	
    	.sequence-nav{margin:30px 0 0 35px;font-size:12px;font-weight:normal;line-height:1.5;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
    	.collections-list{margin:15px 0 10px 35px;
    		li{padding:15px 0 10px;border-bottom:1px dashed #d9d9d9;
    			.avatar{float:left;width:40px;height:40px;border-radius:50%;
    				img{border:none;width:100%;height:100%;border-radius:50%;border:2px solid white;box-sizing:border-box;}
    			}
    		}
    		.collections-info{position:relative;margin-left:55px;
    			h5{margin:0 0 3px;font-size:14px;}
    			.description{padding-right:120px;font-size:12px;}
    			p{margin-bottom:0;color:#999999;font-size:11px;
    				.blue-link{color:#4094c7;}
    			}
    		}
    		.btn{position:absolute;right:0;top:50%;padding:2px 10px 0px;margin-top:-13px;}
    		.follow{border-radius:50px;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;font-size:12px;font-weight:normal;line-height:22px;
    			a{color:white;}
    			span{padding-left:7px;margin-left:3px;border-left:1px solid #d9d9d9;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
    		}
    	}
    	.recommended-list{max-height:1625px;overflow:hidden;margin:0;
    		li{position:relative;padding:15px 0 10px 60px;border-bottom:1px dashed #d9d9d9;
    			.avatar{position:absolute;left:0;width:40px;height:40px;float:left;
    				img{width:100%;height:100%;border:2px solid white;border-radius:50%;box-sizing:border-box;}
    			}
    			.collections-meta{position:relative;
    				.title{margin-bottom:5px;font-size:18px;}
    				p{padding-right:150px;margin-bottom:5px;font-size:12px;}
    				.btn{position:absolute;top:50%;right:0;margin-top:-15px;border-radius:15px;font-size:12px;}
    				.follow{border-radius:50px;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;font-size:12px;font-weight:normal;line-height:22px;
		    			a{color:white;}
		    			span{padding-left:7px;margin-left:3px;border-left:1px solid #d9d9d9;font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
		    		}
    			}
    		}
    		
    	}
    	
    }
}

.container{width:960px;margin-right:auto;margin-left:auto;
	.collection-new{padding:70px 100px;text-align:center;
		form{margin:0 0 20px;
			fieldset{padding:0;margin:0;border:0;
				h2{font-size:31.5px;}
				.avatar{position:relative;width:100px;height:80px;display:inline-block;margin-top:20px;margin-bottom:10px;
					i{position:absolute;margin-top:30px;margin-left:-45px;}
					input{position:absolute;top:12px;left:6px;width:86px;height:69px;display:inline-block;padding:0;z-index:1;opacity:0;filter: alpha(opacity=0);}
					
				}
				p{margin-bottom:20px;}
				.set-collection{margin-bottom:20px;border:1px solid #d9d9d9;text-align:left;
					input{width:100%;height:50px;padding-left:20px;margin-bottom:0;border-radius:0;border:none;border-bottom:1px solid #d9d9d9;box-sizing:border-box;line-height:50px;}
					textarea{width:100%;padding:15px 20px;margin-bottom:0;border:0;resize:none;box-sizing:border-box;background:none;font-size:16px;box-shadow:none;}
				}
				.hide{display:none;}
				.input-prepend{width:100%;padding-left:12px;border:1px solid #d9d9d9;text-align:left;border-radius:0;box-sizing:border-box;margin-bottom:10px;vertical-align:middle;white-space:nowrap;
					.add-on{padding:10px;border:none;background:none !important;text-shadow:none;margin-right:-1px;display:inline-block;width:auto;height:20px;min-width:16px;font-size:14px;font-weight:normal;line-height:20px;text-align:center;text-shadow:0 1px 0 white;
						i{margin-right:5px;}
					}
					.bootstrap-trgsinput{margin-bottom:0;width:60%;padding: 0;border: none;box-shadow: none;background-color: #fff;display: inline-block;color: #555;vertical-align: middle;border-radius:4px;max-width:100%;line-height:22px;
						input{border:none;box-shadow:none;outline:nine;background-color:transparent;padding:0;margin:0;width:auto !important;min-width:100px;max-width:inherit;}
					}
				}
				.help-block{display:block;margin:0 auto 20px;font-size:12px;text-align:left;color: #7b7b7b;}
				.set-contribute{padding:8px 0 8px 20px;margin-bottom:45px;border:1px solid #d9d9d9;
					div{display:inline-block;}
					.set-left{padding-right:20px;margin-right:20px;border-right:1px solid #eeeeee;line-height:26px;}
					span{margin-right:30px;
						i{margin-right:6px;}
					}
					.radio{padding:0;margin:0 15px 0 0;cursor:pointer;}
					.iradio_minimal{display:inline-block;top:-2px;margin-right:10px;vertical-align:middle;margin:0;padding:0;width:18px;height:18px;background:url(../img/minimal-6553cab5f56acb97363067b296c92815.png) no-repeat;border:none;cursor:pointer;}
					.iradio_minimal{background-position:-100px 0;}
					.checked{background-position:-140px 0;}
					label{display:inline-block;}
				}
				.text-left{text-align:left;}
				.btn{width:350px;}
				
			}
		}
	}
	
	.remind{padding:30px 100px 0;
		.page-title{margin:30px 0 20px;border:none;text-align:center;font-size:30px;padding-left:20px;}
		.navbar-right{text-align:right;}
		.tool-bar{
			a{color:#999;
				i{width:1.28em;text-align:center;}
			}
			a.active{color:#555;}
			.all-message{border-right:1px solid #d9d9d9;padding-right:15px;margin-top:5px;margin-right:10px;}
			.pull-left{float:left;}
			.unread-message{padding-right:15px;margin-top:5px;margin-right:10px;}
			.btn{border-radius:4px;box-shadow:none;border-color:whitesmoke;background:whitesmoke;border-color:#d5d5d5;text-shadow:none;}
			.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
			
		}
		ul{margin:0px;}
		
		ul.unstyled{padding-top:10px;margin-top:10px;border-top:2px solid #d9d9d9;
			li{padding:10px;margin-bottom:1px;border-bottom:1px solid #eee;line-height:1.5;
				.time{float:right;padding-left:20px;margin-top:2px;font-size:12px;color:#999;}
				i{margin-right:10px;color:#e78170;width:1.28em;text-align:center;}
				a{color:#4094c7;}
			}
		}
		
	}
	
}


footer{
	padding:8px 0 10px 25%;
	border-top:1px solid #d9d9d9;
	overflow:hidden;
	color:#999999;
	box-sizing:border-box;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:20px;
	
	.footer_top{
		text-align:center;
		float:left;
		margin-left:150px;
		
		p{
			margin:5px 0 0;
			color:#999;
		}
	}
}


//
@media screen and (max-width: $pc_md){
    body.output {
        padding-left: 45px;
    }
    .nav.nav-side{width: 45px;
        .top, .bottom{
            a{  padding: 10px 10%;text-align: center;width: 80%;
            span{display: none;}
            i{margin-left: 0;}
            }
        }
    }
    .row-fluid{
        .cover{left: 45px;}
        .contentBox{padding-left: 12px;          
        }
    }
}

@media screen and (max-width: $mobile){
	
     body.output {padding-left: 0;}
    .nav.nav-side{display: none;}
    .nav-user{top: 5px;
        .user{margin-top:0}
    }
    .nav-shrink{display: block;background: $red1;}
    .row-fluid{padding: 0;margin: 0;
    	.collections{
    		.sort-nav{padding-left:0px;}
    		.sort-nav{padding:13px 0 0 10px; margin:0;}
    		.collections-list{margin:15px 10px 10px 10px;
    			.collections-info{
    				.description{
    					padding-right:100px;
    				}
    				p{margin-top:5px;}
    			}
    		}
    		
    		.recommended-list{
    			li{padding:15px 0 10px 45px;}
    		}
    	}
        .left-aside{display: none;}
        .offset{margin-left:0;
        	.page-title{margin-top:50px;border-top:1px solid #eee;padding-left:0px;
        		.search{display:none;}
        		.btn-success{margin:6px 10px 0px 10px;}
        		.tab-pane{
        		
        		}
        		ul a{padding:10px;}
        	}
        	.subscribe-guide{margin-left:5px;margin-right:5px;padding:10px 10px 0;
        		.guide-title{top:-90px;font-size:16px;}
        		.sort-nav{margin-bottom:0px;}
        	}
        }
        .span7{padding-left:0; width:100%;min-width:0px;}
        .contentBox{padding: 0;margin: 0;width: 100%;
            .page-title{margin-top: 50px;border-top: 1px solid #eee;
                .nodelist{
                    .t-serch{display: none;}
                }
            }
            .article-list{
                margin:15px 0 0 0;padding: 0 10px;
            }
        }
        
    } 
    footer{padding:8px 8px 10px 10px;
    	.footer_top{margin-left:0px;}
    } 
    .container{width:auto;
    	.collection-new{
    		padding:70px 10px;
    		
    		form{
    			fieldset{
    				.set-collection{
    				}
    				.set-contribute .set-left{border-right:none;}
    				.btn{width:100%;}
    			}
    		}
    	}
    	.remind{padding:50px 10px 0px;
    		.page-title{margin:0 0 20px;}
    		ul.unstyled li{
    			padding:10px;
    			line-height:30px;
    		}
    	}
    }
    
}