
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
    border:none;
}
.btn-group .follow, .btn-group .following {
    border-radius: 4px 0 0 4px;
    line-height: 20px;
    a{
        color: white;
    }
}
.notebook-list  {
    .aside{
        text-align: center;
        word-wrap: break-word;
        padding: 50px 30px;
        .meta {
            font-size: 12px;
            margin: 0 0 15px 25px;
            margin-left: 0;
        }
    }
    .title{
        margin: 15px 0;
        a{
            font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        }
    }
    .author {
        position: absolute;
        right: 30px;
        bottom: 50px;
        left: 30px;
        .avatar{
            width: 45px;
            height: 45px;
            margin: 0 auto 10px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}