/*variables*/
//color
$red1 : #e74c3c;
$green: #49BE38;
$green1:#d94641;
$blue:#b05d2b;
$sidebarbg:#2b2b2b;
//width
$iphone4:320px;
$iphone6:375px;
$iphone6s:414px;
$mobile:768px;
$pc_xs:1024px;
$pc_sm:1281px;
$pc_md:1441px;
$pc_lg:1600px;
body.output {
        padding-left: 45px;
    }
    .nav.nav-side{width: 45px;
        .top, .bottom{
            a{  padding: 10px 10%;text-align: center;width: 80%;
            span{display: none;}
            i{margin-left: 0;}
            }
            a.active{border-right:none; }
        }
        .logo{ display: none;}
}
.btn {border-radius: 4px; box-shadow: none;color: #555555;background: #f5f5f5;border-color: #d5d5d5;text-shadow: none;display: inline-block;padding: 4px 12px; margin-bottom: 0;font-size: 14px;line-height: 20px;text-align: center;vertical-align: middle;cursor: pointer;}

.container{ margin: 0 auto;  min-height: 700px; padding-top: 20px; overflow: hidden;
          .aside{float: left; position: relative; width:16.66667%; border-top: 1px solid #d9d9d9;
                 .new-note{ padding: 0 20px;margin-top: 20px;margin-bottom: 10px;
                           a{ display: block;}
                           .new-form{ margin:0; display: none;
                                      input{width: 92%; height: 35px; background-color: #ffffff; border: 1px solid #cccccc; display: inline-block;
                                            padding: 0px 6px; margin-bottom: 10px;font-size: 14px;line-height: 20px;color: #555555;border-radius: 4px; 
                                      }
                                      .cancel{ float: left; width: 49%; box-sizing: border-box; border-radius: 4px; background: #f5f5f5;border: 1px solid #d5d5d5; padding: 4px 12px; line-height: 20px; text-align: center;}
                                      button{ float: left; width: 49%; margin-left: 2%; box-sizing: border-box; border-radius: 4px; color: #ffffff; background: $blue; border: 1px solid $blue; padding: 4px 12px; line-height: 20px; text-align: center;}
                           }
                 }
                 .new-list{overflow-y: auto;overflow-x: hidden;  margin:0; min-height: 672px;
                          li{position: relative; list-style: none; line-height: 34px;
                             a{position: relative; height: 36px; display: block;  padding-left: 20px; padding-right: 15px;
                                i{ font-size: 22px; }
                             }
                          }
                          .active{background-color: #f9fcc0;box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1),0 1px 4px rgba(0,0,0,0.1);
                                  i{ font-size: 22px; color: $green1;}
                                  .shez{ position: absolute; right: 15px; top:0px;
                                         > i{ font-size: 16px;}
                                  }
                          }
                 }
                 .commercial{position: absolute;bottom: 0;width: 100%;color: #999999;font-size: 14px;font-weight: normal;line-height: 20px;
                             p{padding: 10px 15px; font-size: 12px;}
                               > a{ width: 100%; display: inline-block;margin-bottom: 0;font-size: 14px;line-height: 40px;text-align: center;cursor: pointer; box-shadow: none;color: #555555; background: #f5f5f5;}
                 }
          }
          .middle{float: left; position: relative; width: 25.0%; border-top: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9;overflow-y: auto; overflow-x:hidden;
                 .new-note{padding: 0 20px;margin-top: 16px;margin-bottom: 10px;
                          i{ font-size: 18px;}
                 }
                 .new-list{border-top: 1px solid #d9d9d9;padding: 0;margin: 0;list-style: none;
                          li{position: relative;max-height: 90px; height: 90px;border-bottom: 1px solid #d9d9d9;line-height: 20px; color: #eeeeee;
                             > i{ position: absolute;top: 30px;left: 20px; width: 22px;height: 30px; font-size: 30px; color: #e8e0c8;} 
                             .abbreviate {position: absolute; top: 40px; left: 60px; right: 40px; max-height: 30px;height: 30px; margin: 0; overflow: hidden;text-overflow: ellipsis;
                                          white-space: nowrap; font-size: 11px; font-weight: normal; line-height: 36px; cursor: pointer;}
                             .wordage{position: absolute; bottom: -7px; left: 5px; font-size: 9px; font-weight: normal; line-height: 16px; margin-bottom: 12px;}
                             .title{position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 15px 40px 15px 60px; margin: 0;overflow: hidden;text-overflow: ellipsis;
                                       white-space: nowrap;font-size: 18px;font-weight: normal;line-height: 36px;}
                                    .share-note{position: absolute;padding: 0;right: 20px;top: 35px;
                                               > i{font-size: 16px;}
                                    }  
                          }
                          .active{background: rgba(209,192,145,0.5); color: #eeeeee; text-shadow: 0 -1px 0 rgba(0,0,0,0.1); box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
                                 .share-note{ display: block; color: #FFFFFF;} 
                                 i{ color: #ffffff;}
                          }
                 }
          }
          .write-main{float: left; position: relative; width: 58.0%; border-top: 1px solid #d9d9d9; padding: 20px 0 0 0; overflow-y: auto;overflow-x: hidden;
               .note-form{width: 100%;margin: 0;font-size: 16px;font-weight: 100;line-height: 25px;
                          .title{width: 100%;padding: 10px 20px 10px 30px; margin-bottom: 0;border-bottom: 1px solid #d9d9d9;font-size: 28px;line-height: 30px;
                                 overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border-radius: 0;box-shadow: none;}
                          .kalamu-box{
                                     .toolbar {margin: 0; padding: 0; list-style-type: none;background-color: #dedede;border-bottom: 1px solid #d9d9d9; overflow: hidden;
                                               li{ float: left; display: inline-block;cursor: pointer;text-align: center;
                                                   a{padding: 11px 14px;display: inline-block;line-height: 17px; color: #555555;text-decoration: none; }
                                                   a:hover{ background: #555555; color: #FFFDEC;}
                                               }
                                               .menu{position: relative;text-align: center;}
                                               .pull-right{ float: right;}
                                     }
                                     .kalamu-area{ overflow-y: auto; overflow-x: hidden; border-top:none; color: #2f2f2f;font-size: 16px;font-weight: normal;line-height: 1.7;
                                                   bottom: 0;padding: 30px;padding-bottom: 0;
                                                   p{text-align: left;}   
                                     }
                          }
               }
          }
}
