/* CSS Document */
html{overflow-y:scroll;}

body,div,p,ul,li,a,img,h1,h2,h3,h4,h5,h6,i,span,lable{
	margin:0;
	padding:0;
}
body{
	font-family:simsun;
	font-size:12px;
	background:url(../img/page_bg.jpg);
}

ul,li{
	list-style-type:none;
}
img{
	border:none;
}
a{
	text-decoration:none;
}
.textindent{
	text-indent:-99999px;
}
.clear{
	float:none;
	clear:both;
	overflow:hidden;
}
input{
	outline:none;
}
.body{
	width:960px;
	margin:0 auto;
}
.red{
	color:#c80000;
}
.main{
	background:#FFF;
	margin:0 auto;
	width:960px;
	padding:5px 5px;
	overflow:hidden;
	border-left:#ebebeb solid 1px;
	border-right:#ebebeb solid 1px;
	min-height:400px;
}
.main1{
	background:#FFF;
	margin:0 auto;
	width:960px;
	overflow:hidden;
	border-left:#ebebeb solid 1px;
	border-right:#ebebeb solid 1px;
	min-height:400px;
}

/*  Main Style */
.header{
	width:100%;
	max-width:100%;
}
.header .top{
	background:url(../img/top_bg.jpg);
	height:37px;
	line-height:37px;
}
.header .top span{
	float:left;
	margin-right:10px;
}
.header .top li.left{
	float:left;
}
.header .top li.right{
	float:right;
}
.header .top li.right a{
	color:#666;
	float:left;
}
.header .top li.right a:hover{
	color:#c80000;
}

.header .top li.right a i,
.header .top li.right a.reg i{
	display:block;
	width:16px;
	height:16px;
	background:url(../img/comm.png);
	float:left;
	margin-top:9px;
	margin-right:4px;
}
.header .top li.right a.reg i{
	background-position:-17px 0;
}
.header .top li.right span{
	margin-left:3px;
	color:#999;
}
.header .top li.right a.rss{
	background:url(../img/comm.png) no-repeat -33px 0;
	display:block;
	width:63px;
	height:18px;
	margin-top:8px;
}
.banner{
	background:#9a0d1e url(../img/headerbg_02.png) no-repeat center center;
	height:189px;
}
.banner img{
	margin-top:26px;
}
.nav{
	background:#ac0018 url(../img/nav_bg.jpg) no-repeat center center;
	height:44px;
}
.nav ul.body{
	position:relative;
	height:44px;
}
.nav ul.body > li{
	float:left;
	line-height:44px;
}
.web a{
    display: block;
    width: 22px;
    height: 22px;
    background:#fff url("../img/min_icon.png") no-repeat 0 0;
    float: left;
    margin-left: 10px;
    text-indent: -99999px;
	border:#fff solid 1px;
}
.header .web a.html5{
    background-position:  0px -24px;
}
.header .web a.complex{
    background-position:  0px 0px;
}
.header .web a.simple.yes{
    background-position:  24px -24px;
    border: #be7400 solid 1px;
}
.header .web a.complex.yes{
    background-position:  24px 0px;
    border: #be7400 solid 1px;
}
.nav ul.body li h2 a{
	font-size:14px;
	color:#FFF;
	display:block;
	padding:0 18px;
}
.nav ul.body li.thisbg h2 a{
	background:#ac2536;
}
.nav ul.body li h2 a:hover{
	background:#ac2536;
}
.nav ul.body li h2 a.thisbg{
	background:#4c697d;
}
.nav ul.body li div.min-div{
	margin-top:-1px;
	position:absolute;
	display:none;
	width:104px;
	left:0;
}
.nav ul.body  i.m-icon{
	display:block;
	width:10px;
	height:4px;
	background:url(../img/comm.png) no-repeat -99px -1px;
	margin:0 auto;
	position:absolute;
	z-index:100;
	bottom:0;
	left:34px;
}
.nav ul.body li div.m-d-content{
	position:absolute;
	left:-6px;
	width:972px;
	position:absolute;
	display:none;
	z-index:100;
	overflow:hidden;
}
.nav ul.body li div.m-d-content div.m-d-c-bg{
	width:100%;	
	background:url(../img/bzd_nav_bg.png) left top;
	overflow: hidden;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.left{
	border-right:#ebebeb solid 1px;
	width:auto;
	float:left;
	margin-right:20px;
	padding-right: 20px;
	overflow:hidden;
}
.nav ul.body li div.m-d-content div.gybzd ul.left{
	width: 190px;
	height: 242px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.left li{
	line-height:38px;
	padding:0 10px;
	background: #f7fffc;
	margin-left: 14px;
	margin-top:8px;
	border-radius: 5px;
	border: #d8ebe4 solid 1px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.left li:hover{
	background: rgb(70,97,114);
	border: rgb(70,97,114) solid 1px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.left li a{
	font-size:14px;
	font-weight:bold;
	color:#666;
	display: block;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.left li:hover a{
	color:#FFF
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right{
	overflow:hidden;
	padding-top: 5px;
	margin-bottom: 5px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right h3 a{
	color:rgb(70,97,114);
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right p a{
	color:#C80000;
	font-size:13px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right h3{
	line-height:28px;
	background: #f7fffc url("../img/grid-dot.png") no-repeat 5px 6px;
	padding-left: 26px;
	margin-bottom: 5px;
}

.nav ul.body li div.m-d-content div.m-d-c-bg ul.right a:hover{
	text-decoration:underline;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right h4{
	text-align:center;
	line-height:22px;
	margin-top:2px;
}
.nav ul.body li div.m-d-content div.tpzj ul.right h4{
	margin-top:5px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right h4 a{
	color:#666;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right li{
	width: 29%;
	float:left;
	margin-right:15px;
	line-height:24px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.nav ul.body li div.m-d-content div.m-d-c-bg ul.right-one li{
	width: 29%;
	float: left;
	margin-right: 12px;
	margin-left: 15px;
	line-height: 24px;
	margin-top: 15px;
}
.nav ul.body li div.m-d-content div.tpzj ul.right li{
	width:160px;
	margin:0 13px;
}
.nav ul.body li div.m-d-content div.jslw ul.right a.img{
	float:left;
	margin-right:15px;
}
.nav ul.body li div.m-d-content div.jslw ul.right li{
	width:450px;
	margin-right:20px;
}
.nav ul.body li div.m-d-content div.gybzd li p{
	text-indent:2em;
	line-height:18px;
	margin-top:2px;
	color: #666;
}
.nav ul.body li div.m-d-content div.jswk{
	height:210px;
}
.nav ul.body li div.m-d-content div.jswk ul.right li{
	margin:0 20px 0 25px;
}
.nav ul.body li div.m-d-content div.jswk ul.right li.jsmz{
	width:140px;
}
.nav ul.body li div.m-d-content div.jswk ul.right li p{
	text-indent:2em;
	line-height:22px;
	color:#999;
}
.nav ul.body li div.m-d-content div.jslw ul.right li p{
	text-indent:2em;
	color:#666;
}
.nav ul.body li div.m-d-content div.jslw ul.right li h4{
	margin:0 0 5px;
}
.nav ul.body li div.m-d-content div.jswk ul.right li p a{
	color:#C80000;
	font-weight:normal;
}
.nav ul.body li div.m-d-content div.m-d-c-bot{
	background:url(../img/bzd_nav_bot.png) left top;
	height:15px;
	width:971px;
}
.nav ul.body li div.min-div ul.left{
	background:#e1e1e1;
	width:104px;
	text-align:center;
	position:absolute;
	padding:12px 0;
	float:left;
	box-shadow:1px 0 10px #777;
}
.nav ul.body li div.min-div ul.left li.min-nav{
	position:relative;
}
.nav ul.body li div.min-div ul.left  a{
	display:block;
	color:#666;
	font-size:13px;
	line-height:32px;
	font-weight:normal;
}
.nav ul.body li div.min-div ul.left a.thisbg{
	background:#9c0d1f url(../img/comm.png) no-repeat -402px 6px;
	color:#FFF;
}
.nav ul.body li div.min-div ul.left li.min-nav h3 a:hover,
.nav ul.body li div.min-div ul.left li.thisbg h3 a{
	background:#ac2536 url(../img/comm.png) no-repeat -402px 6px;
	color:#FFF;
}
.nav ul.body li div.min-div ul.left a:hover,
.nav ul.body li.this-li h2 a{
	background-color:#ac2536;
	background-image:none;
	color:#FFF;
}
.nav ul.body li div.min-div ul.right{
	background:#f3f3f3;
	position:absolute;
	overflow:hidden;
	left:104px;
	top:-12px;
	width:0;
	padding:12px 0;
	box-shadow:2px 0 7px #ccc;
}
.nav ul.body li div.min-div ul.right li{
	line-height:32px;
	width:127px;
}
.nav ul.body li div.min-div ul.right li a{
	color:#666;
	display:block;
	font-size:13px;
	padding:0 16px;
}
.nav ul.body li div.min-div ul.right li a:hover{
	background:#b52d3f;
	color:#FFF;
}
.level{
	background:#e9e9e9;
	border-bottom:#dadada solid 1px;
	height:37px;
	line-height:37px;
	overflow:hidden;
}
.level ul.left{
	width:50%;
	overflow:hidden;
	float:left;
}
.level ul.left a{
	color:#666;
	display:block;
}
.level ul.left a i{
	display:block;
	width:3px;
	height:22px;
	background:url(../img/comm.png) no-repeat -141px 10px;
	margin-right:12px;
	float:left;
}
.level ul.right{
	float:right;
	background:url(../img/comm.png) no-repeat 0 -21px;
	width:351px;
	height:29px;
	margin-top:4px;
}
.level ul.right li.txt{
	overflow:hidden;
	margin-top:-3px;
	float:left;
}
.level ul.right li.txt input{
	border:#fff solid 1px;
	background:#FFF;
	margin-left:30px;
	color:#666;
	width:260px;
	font-size:12px;
	color:#999;
}
.level ul.right li.s-click a{
	float:right;
	display:block;
	width:52px;
	height:28px;
	overflow:hidden;
}
.footer{
	background:#f7f6f6;
	border-top:#dadada solid 1px;
	min-width:970px;
	overflow: hidden;
	margin-top: -20px;
}
.footer .body{
	float:none;
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
}
.footer ul{
	float:left;
	margin-left:36px;
	margin-top:20px;
	width:156px;
}
.footer ul li{
	line-height:26px;
	padding-left:8px;
}
.footer ul li.f-title{
	font-weight:bold;
	background:url(../img/index.png) no-repeat 0 -156px;
	padding-left:20px;
}
.footer ul li.f-title a{
	color:#000;
}

.footer ul li a{
	color:#666;
}
.footer ul li a:hover{
	color:#C80000;
}
.footer_bg{
	background:#b03524 url(../img/footer_06.jpg) no-repeat center center;
	height:44px;
	min-width:970px;
}
.footer-font{
	text-align:center;
	margin-top:15px;
	line-height:24px;
	padding-bottom:10px;
	color:#666;
}


.subnav{
	background:#f3f3f3;
	height:32px;
	line-height:32px;
}
.subnav .left i{
	display:block;
	width:15px;
	height:16px;
	background:url(../img/comm.png) no-repeat -1px -104px;
	float:left;
	margin:8px 0 0 21px;
}
.subnav .left a{
	color:#666;
	margin:0 10px;
}
.subnav .left a:hover{
	color:#C80000;
}
.subnav .left{
	float:left;
}
.subnav .right{
	float:right;
}
.subnav .right a{
	color:#C80000;
	font-weight:bold;
	margin-right:10px;
}
.subnav .right i{
	display:block;
	background:url(../img/comm.png) no-repeat -152px -3px;
	width:16px;
	height:16px;
	float:left;
	margin:8px 10px 0 0 ;
}

/* Page */
.page{
	overflow:hidden;
	float:right;
	margin:20px 0;
}
.page li{
	float:left;
	border:#e5e5e5 solid 1px;
	margin:0 5px;
}
.page li.thisbg{
	background:#c80000;
	color:#FFF;
}
.page li a{
	color:#999;
	display:block;
	line-height:18px;
	padding:3px 8px;
}
.page li a:hover{
	color:#C80000;
}
.page li.thisbg a:hover,
.page li.thisbg a{
	color:#FFF;
}

/*二维码*/
#erweima{width:120px;height:290px;position:fixed;top:350px;right:20px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+350));background:url(../img/erweima.png) no-repeat scroll 0 0;z-index:9999;}
#erweimaIn{width:120px;height:170px;position:relative;}
#erweima_close{position:absolute;top:1px;right:1px;width:20px;height:20px;cursor:pointer;}
#erweima_returnTop{position:absolute;top:0;left:30px;width:60px;height:20px;cursor:pointer;}
#erweima_ewm{position:absolute;top:40px;left:5px;width:110px;height:110px;padding-left: 5px;padding-top: 5px;}

/* 兼容1200以下分辨率 */
@media screen and (max-width: 1200px) {
    .main {width:800px;}
    .body{max-width:800px;}
    li.t-serch{margin-left:100px!important;}
    .footer{min-width:100%;}
    .main .p-list h2{width:392px;}
    .main .p-list .p-cont{width:390px;}
    .main .p-list .p-cont{height:420px;}
    .main .p-list .p-cont .p-title{height:140px;}
    .main .ad1 li{width:70%;}
    .main .ad1 li img{width:100%;}
    .main .ad1 li.ad-cont{width:30%;}
    .main .cont1 .left{width:240px;}
    .main .cont1 .content{width:345px;}
    .main .cont1 .right{width:200px;}
    .main .cont1 .content .content-enter div{margin:10px 0 5px 10px;}
    .main .cont1 .content .content-enter div a.m-title{width:64px;}
    .main .cont1 .content .content-enter div a{width:200px;}
    .main .viod .comm{width:395px;}
    .main .viod .comm div.v-img li{width:105px;}
    .footer ul{margin-left:0px;}
    .nav ul.body li div.m-d-content{width:810px;}
    .nav ul.body li div.m-d-content div.m-d-c-bg ul.right-one li{width:28%;}
    .right .piclist li{width:230px;margin:2px 5px 25px 25px;}
    .right .piclist li div.w-bg{width:230px;}
    div#Container{width:800px!important;}
    #OriginalPic{width:780px!important;}
    .SliderPicBorder{width:770px!important;}
    #OriginalPic img{width:90%!important;}
    .Summary{margin-top:30px!important;}
    .OriginalPicBorder{padding:30px 15px 0 15px!important;}
    #ThumbPic li{width:120px;}
    #ThumbPic img{width:110px!important;}
    #Container .MainBg > div{max-width:800px;}
    #btnNext{margin-left:4px;}
}
    
