/*
2016-3-4
公众平台 - 消息发送
*/
.msglist {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #8F9490;
	height:100px;
}
.msglistpriheight{
	height:150px;
}
.msglistcurrent {
	border: 2px solid #43b548;
}
.msglist .primdiv{
	height:90%;margin:9px;background-color:#ececec;position:relative;background-size:contain;
	    background-repeat: no-repeat;
    background-position: center;
}
.msglist .currenttitlediv{
	position:relative;width:100%; bottom:0;background:rgba(0,0,0,0.6)!important;
}
.msglist .backgrounddiv{
	position:relative;width:100%; bottom:0;height:80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.msglist .currenttitle {
	color:#fff;padding:0 8px;text-align:left;line-height:28px;white-space:nowrap;
}
.msglist .seconddiv {
	height:90%;margin:9px;position:relative;background-size:contain;
}
.seconddiv .backgrounddiv {
	height:78px;width:78px;float:right; bottom:0;background-color:#ececec;;
}
.seconddiv .secondtitle {
	padding:0 8px;text-align:left;line-height:28px;width:140px;word-break:break-all;    white-space: nowrap;text-overflow: ellipsis;
    overflow: hidden;
}
.icon_appmsg_thumb {
    background: url("../images/media_z2ac3d8.png") 0 -100px no-repeat;
    width: 44px;
    height: 34px;
    vertical-align: middle;
    display: inline-block;
    line-height: 300px;
    overflow: hidden;
    position: relative;
    top: 40px;
}
.icon_appmsg_thumb_small {
    background: url("../images/media_z2ac3d8.png") 0 -144px no-repeat;
    width: 32px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    line-height: 300px;
    overflow: hidden;
        top: 25px;
    position: relative;
}
.nodisplay{
	display:none!important;
}
.addMsgPreA {
	border:2px dotted #d9dadc;margin:0 9px;display:block;line-height:98px;height:92px;
        overflow:hidden;  
            position: relative;
    padding: 20px;
    cursor:pointer;
}
.addMsgPreA i{
	    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
        cursor: pointer;
    line-height: 300px;
    overflow: hidden;
    background: url("../images/base_z2b638f.png") 0 -2915px no-repeat;
}
.page_nav {
	margin: 0;
    padding: 6px 20px;
    border-bottom: 1px solid #e7e7eb;
}
.icon_goback {
	margin-right: 5px;
	background: url("../images/base_z2b638f.png") 0 -2596px no-repeat;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}