/* CSS Document */
.header .nav{
	margin-bottom:0;
}
.subnav{
	background:#f3f3f3;
	height:32px;
	line-height:32px;
	margin-bottom:10px;
}
.subnav  i{
	display:block;
	width:14px;
	height:14px;
	background:url(../images/sign_nav.png) no-repeat;
	float:left;
	margin:9px 0 0 15px;
}
.subnav a{
	color:#666;
	margin:0 10px;
}
.subnav a:hover{
	color:#C80000;
}

.u-left{
	float:left;
	margin-right:10px;
}
.u-header{
	height:88px;
	border-bottom:#009a91 solid 8px;
	background:#FFF url(../images/u-header-bg_02.png) no-repeat center center;
}
.u-header div{
	padding-top:17px;
}
.u-left ul{
	float:left;
}

.u-left ul li{
	background:#eeeded;
	width:160px;
	margin-bottom:5px;
	height:38px;
	line-height:38px;
	padding-left:20px;
}
.u-left ul li a{
	display:block;
	padding-left:24px;
	background:url(../images/st_icon.png) no-repeat;
	color:#666;
}
.u-left ul li.personal a{
	background-position: 0 12px;
}
.u-left ul li.password a{
	background-position: 0 -24px;
}
.u-left ul li.password a{
	background-position: 0 -24px;
}
.u-left ul li.baomi a{
	background-position: 0 -67px;
}
.u-left ul li.exit a{
	background-position: 0 -110px;
}

.u-left ul li.u-text a{
	background:url(../images/st_icon.png) no-repeat 0 -231px;
	padding-left:25px;
	display:block;
	color:#666;
}
.u-left ul li.u-title{
	height: 36px;
	background:#eeeded url(../images/u-logo-left_10.jpg) no-repeat 16px 12px;
	padding-left:50px;
	line-height:20px;
	padding-top:16px;
	width: 130px;
	color:#666;
}
.u-left  ul li.thisbg{
	background:#88c1dd;
}
.u-left  ul li.thisbg a{
	color:#fff;
	font-weight:bold;
}
.u-left ul li.u-title span{
	color:#C80000;
	font-weight:bold;
}
.u-left ul li.u-title a{
	float:left;
}
.u-left .light ul li.u-title a.ad_get{
	display:block;
	width:80px;
}
.u-left ul li.u-title a.right{
	margin-right:10px;
}
.u-right{
	overflow:hidden;
	border:#e8e8e8 solid 1px;
}
.u-right ul{
	overflow:hidden;
	border:#e8e8e8 solid 1px;
	border-top:none;
	width:110%;
}
.u-right ul li{
	border-left:#e8e8e8 solid 1px;
	position:relative;
}
.u-right ul li span{
	display:block;
	float:left;
	padding:2px 5px;
	background:#fdcbcb;
	top:12px;
	right:15px;
	position:absolute;
	color:#fff;
}
.u-right ul li.thisbg span i{
	display:block;
	width:16px;
	height:16px;
	float:left;
	background:url(../images/check.png) no-repeat;
	margin-right:3px;
}
.u-right ul li em{
	font-style:normal;
}
.u-right ul li:first-child{
	border-left:none;
}
.u-right li{
	float:left;
	height:76px;
	width:360px;
	padding:15px 14px 15px 10px;
}
.u-right li div.u-r-img{
	float:left;
	margin-right:5px;
	position:relative;
	padding:2px;
	border:#e0e0e0 solid 1px;
}
.u-right li div.u-r-img input{
	position:absolute;
	left:1px;
	top:1px;
}
.u-right li div.u-r-cont h3{
	font-size:14px;
	color:#333;
	margin-bottom:5px;
}
.u-right li div.u-r-cont div.content{
	color:#666;
	text-indent:2em;
	line-height:18px;
}
.u-right li{
	cursor:pointer;
}
.ret-btn{
	margin-top:10px;
	border:#eee solid 1px;
}
.ret-btn h2{
	font-size:14px;
	line-height:36px;
	padding-left:15px;
}
.ret-btn ul{
	overflow:hidden;
}
