<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="zh-CN"> <!--<![endif]-->
 <head>
	<meta charset="utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name='apple-touch-fullscreen' content='yes'>
	<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no,email=no,address=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>登录 -- 红客</title>
	<link rel="stylesheet" type="text/css" href="${session.themeRoot}/_files/fonts/iconfont.css" />	
	<link rel="stylesheet" type="text/css" href="${session.themeRoot}/_files/css/redmooc_style.css" />	
	<link rel="stylesheet" type="text/css" href="${session.themeRoot}/_files/css/redmooc_login.css" />	
	<!-- <script language="javascript" type="text/javascript" src="_files/ckplayer/ckplayer.js" charset="utf-8"></script> -->
	<link href="${session.themeRoot}/_files/js/plugins/jplayer/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
	<script data-main="${session.themeRoot}/_files/js/app" src="${session.themeRoot}/_files/js/require.js"></script>
</head>

<body class="login">
  <div class="content">
  	<form action="${ctxPath}/ulogin" method="post">
  		<div class="logo1"><img src="${session.themeRoot}/_files/img/img_logo.png" alt="" /></div>
	  	<h4 class="title">
	      <span>
	        <a class="" data-pjax="true" href="/sign_in">登录</a>
	        <b>·</b>
	        <a class="" data-pjax="true" href="/sign_up">login</a>
	      </span>
	    </h4>
	    <div class="input-login">
	    	<span><i class="iconfont">&#xe603;</i></span>
	    	<input type="text" name="userName" placeholder="请输入用户名" autocomplete="off"/>
	    </div>
	    <div class="input-login">
	    	<span><i class="iconfont" style="font-size: 20px;">&#xe632;</i></span>
	    	<input type="password" name="passWord" placeholder="请输入密码" autocomplete="off"/>
	    </div>
	    <% if (isNotEmpty(errorClassName)){%>
			<div class="form-group" style="color: red;">
			<% switch(errorClassName){					
					case "org.apache.shiro.authc.UnknownAccountException":
						//print("用户不存在");//防止别人猜到用户名
						print("密码不正确");
						break;
					case "org.apache.shiro.authc.IncorrectCredentialsException":
						print("密码不正确");
						break;
					default:
						print(errorClassName);	
			}%>
			</div>
		<%}%>
	    <button class="btn1">登 录</button>
	    <div class="download input-login">
	    	<a href="/app.htx">红客app下载</a>
	    </div>
	    
  	</form>
  	
  </div>   
</body>
</html>
