
<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]--> 
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="zh-CN"> <!--<![endif]-->
 <head>
	<meta charset="utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name='apple-touch-fullscreen' content='yes'>
	<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no,email=no,address=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/theme/1/html5/_files/fonts/iconfont.css" />	

<title>红客移动客户端</title>
<link rel="stylesheet" type="text/css" href="/theme/1/html5/_files/css/redmooc_complete.css" />
<link rel="stylesheet" type="text/css" href="/theme/1/html5/_files/css/redmooc_phone_app.css" />
<!-- 
http://a.app.qq.com/o/simple.jsp?pkgname=cn.mooc.app
https://itunes.apple.com/cn/app/hong-ke/id1073056031
 -->
</head>
<body class="p-appdown-mobile">

<!-- 内容 -->
	<div class="row-fluid">
		<div class="app-download">
			<div class="download-content clearfix">
				<div class="page-left clearfix">
					<div class="title logo celarfix">
						<img src="/theme/1/html5/_files/img/appdown_logo.png">
					</div>
					<div class="download">

						<img class="qrcode" src="/theme/1/html5/img/app_yyb_300.png" width="180" height="180" alt="" />
					</div>

				</div>
			</div>

		</div>
	</div>
</body>
</html>
